/* FONTS */
@font-face {
  font-family: Olivier;
  src: url('./olivier_demo.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url('./Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: RobotoMedium;
  font-weight:700;
  src: url('./Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}
/* BODY GENERAL PARAMS */ 

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #7A7A7A;  
  cursor: pointer;
  
  &:hover {
      color: black;
  }
}
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: black;
}
